<!DOCTYPE html>
<html>

<head>
    <title></title>
    <link rel="icon" href="assets/logoDDS.jpeg" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="assets/style.css">
    <style type="text/css">
        body {
            background-image: {
                {
                    url_for('static', filename="assets/DDS_BG.png"
                }
            }
            ;
            background-repeat: no-repeat;
            background-size: 100% 180%;
        }
    </style>
</head>

<body>
    <div class="position-center mx-auto d-flex justify-content-center">
        <form method="post" action="/live_feed">
            <input type="hidden" value="Start" name="Start" />
            <input type="submit" class="btn btn-outline-danger btn-lg" value="Start Detection" />
        </form>
        <!-- <form method="post" action="/stop">
            <input type="submit" class="btn btn-outline-danger btn-lg" value="Stop Detection" name="Stop" />
        </form> -->
    </div>
    <div class="container">
        <span><a href="/contact" class="btn btn-outline-warning btn-lg" style = "text-decoration: line line-through;">Meet the Creators</a></span>

    </div>
</body>

</html>